<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hello Welcome </h1>
         <h3>Create An Account</h3>
           <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
             <div>
               <label for="email">Email</label>
               <input formControlName="email"  type="email"  required>
               <label for="password">Password</label>
               <input formControlName="password"  type="password">
             </div>
             <button>Submit</button>
             <span>Already have an account? 
             <a routerLink="/login">signUp</a></span>
           </form>
       </div>
     T 
</body>
</html>